.youtube-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 25px;
}

.youtube-image {
    height: 250px;
    margin-bottom: 15px;
}

.youtube-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube-footer {
    display: flex;
    align-items: start;
    gap: 0 20px;
}

.youtube-avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.youtube-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
}

.youtube-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.youtube-author {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}